.title {
  color: red;
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
}
.card-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.card-pix {
  height: 480px;
  width: 100%;
  object-fit: contain;
}
.card-main {
  display: flex;
  flex-wrap: wrap;
}
