/* Navbar.css */

.navbar {
  background-color: #333; /* Ensure transparency if you have a background image */
  color: #fff;
  padding: 15px 0;
  position: relative; /* Relative positioning for stacking context */
  z-index: 1000; /* High z-index to be above background image */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; /* Relative positioning for stacking context */
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
}

.navbar-links ul {
  list-style: none;
  display: flex;
}

.navbar-links ul li {
  margin-right: 20px;
  position: relative;
}

.navbar-links ul li a {
  color: #fff;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 200px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown-content li a {
  color: #fff;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  position: relative;
  z-index: 1100; /* Higher z-index to ensure it's above the background image */
  cursor: pointer;
  margin-left: -10px; /* Adjust this value to shift the icon to the left */
}

.navbar-toggle i {
  color: #fff;
  font-size: 1.5rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;
    width: 100%;
    position: relative;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    background-color: #222;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1050; /* Ensure it appears above other content */
  }

  .navbar-toggle {
    display: block;
    margin-left: auto;
    cursor: pointer;
    z-index: 1100; /* Ensure the toggle button is above other content */
    margin-left: 320px;
  }

  .navbar-toggle.active {
    display: block;
    width: 100%; /* Full width */
    text-align: center; /* Center align text */
  }

  .navbar-toggle i {
    color: #fff;
    font-size: 1.5rem;
  }
}
